.main {
    background-color: pink;
    height: 30%;
    width: 100%;
}

.nav {
    background-color: yellow;
    font-size: 2rem;
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 5px;
}

.nav img {
    height: 200px;
    width: 200px;
}

.nav a {
    margin: 50px;
}